*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.hd{
    background: rgba(242, 120, 92, 0.7);
box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.Logo{
	position: absolute;
	top: 2.5%;
	left: 5%;
	width: 20px;
}
.hd-p{
	position: absolute;
width: 180px;
height: 31px;
left: 40px;
top: 0px;

	font-family: 'Magra';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;

}
.dws {
	position: absolute;
	top: 1%;
	left: 83%;
}

.btn {
	font-size: 20px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #0D606F, #dfcf40, #0D606F);
	text-decoration: none;
	padding: 20px 70px;
	border-radius: 10px;
	background-size: 200%;
	transition: .5s;
}

.btn:hover {
	background-position: right;
}
nav{
	width: 750px;
	margin: 0 auto;
}


ul{
	height: 85px;
}
ul li{
	float: left;
}

ul li a{
	color: #fff;
	display: block;
	height: 50px;
	padding: 0 30px;
	text-decoration: none;
	line-height: 85px;
}
.li{
    display: inline;
}

a{
    font-size: 18px;
    padding: 35px;
    color: white;
    text-decoration: none;
    font-family: 'Red Hat Text', sans-serif;
    float: right;
}

.pos_des{
	position: absolute;
	width: 60%;
	height: 1%;
	top: 20%;
	left: 10%;
}

.des{
	font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 96px;

color: #FFFFFF;
}

.min_des{
	position:absolute;
	top: 250px;
	left: 0px;
	
	font-family: 'Aleo';
font-style: italic;
font-weight: 700;
font-size: 23px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

}

.box{
    background: url(../img/Screenshot_13.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
}

.container .input{
	border: 0;
	outline: none;
	color: black;
}

.search_wrap{
	width: px;
	margin: 150px auto; 
}

.search_wrap .search_box{
	position: relative;
	width: 892px;
	height: 95px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
	padding: 10px 20px;
	border-radius: 23px;
	font-size: 18px;
}

.search_wrap .search_box .butn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background:  #0D606F;
	z-index: 1;
	cursor: pointer;
}

.search_wrap.search_wrap_5 .search_box .butn{
	width: 228px;
	height: 59px;
	top: 25px;
	right: -50px;
	border-radius: 13px;
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Red Hat Text', sans-serif;
}

.search_wrap.search_wrap_5 .search_box .input{
	padding-right: 145px;
}

.m_h{
	position: absolute;
	width: 611px;
height: 53px;
left: calc(50% - 611px/2);
top: 1050px;

	
	font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 53px;
/* identical to box height */


color: #F2785C;

}

.frame_1{
	position: absolute;
	width: 100px;
	height: px;
	left: calc(20% - 100px/2);
	top: calc(126.5% - 100px/2);
}

.rect_1{
	position: absolute;
	width: 100px;
	height: 100px;
	left: calc(50% - 125px/2);
	top: calc(1% - 30px/2);
	
	background: #F2785C;
	border-radius: 16px;
}

.Vec_1{
	position: absolute;
	left: 12px;
	top: 13px;
}

.frame_2{
	position: absolute;
	width: 100px;
	height: px;
	left: calc(50% - 100px/2);
	top: calc(126.5% - 100px/2);
}

.rect_2{
	position: absolute;
	width: 100px;
	height: 100px;
	left: calc(50% - 125px/2);
	top: calc(1% - 30px/2);
	
	background: #F2785C;
	border-radius: 16px;
}

.Vec_2{
	position: absolute;
	left: 10px;
	top: 10px;
}

.frame_3{
	position: absolute;
	width: 100px;
	height: px;
	left: calc(80% - 100px/2);
	top: calc(126.5% - 100px/2);
}

.rect_3{
	position: absolute;
	width: 100px;
	height: 100px;
	left: calc(50% - 125px/2);
	top: calc(1% - 30px/2);
	
	background: #F2785C;
	border-radius: 16px;
}

.Vec_3{
	position: absolute;
	left: 8px;
	top: 13px;
}